
.header, .footer {
    background-color: $bgcolor;
    height: 5rem;
    position: relative;
    z-index: 5;
    @extend%transition;
}
.header-wrapper,
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    height: 5rem;
    font-size: 2rem;
}
.header__logo{
    font-size: 3rem;
    margin: auto;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}
.header__burger,
.header__authorization {
    height: 100%;
    width: 4rem;
    margin: auto 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background-color:  rgb(188, 188, 188);
    }
}
.header-svg{
    & img{
        width: 2.5rem;
    }
}
.header-shift{
    margin-left: 18rem;
    box-shadow: 0 2px 3px 1px gray;
}

.authorization-svg  {
  width: 2.5rem;
}
