    .nav-item{
      display: flex;
      position: relative;
      align-items: center;
      overflow: hidden;
      .item__icon{
        width: 4rem;
        padding: 0.5rem;
      }
      .item__name{
        flex: 1 1 auto;
        margin: auto 0;
      }
      &:hover{
        box-shadow:inset 0 0 1rem 0rem $bgcolor;
      }
    }
