{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "import/no-cycle": "off",
    "func-names": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-console": "off",
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/no-duplicate-enum-values": "warn",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": [ "warn", {"extensions": [".tsx"]} ],
    "react/no-danger": "off"
  }
}
