.main-page{
    height: 100%;
    text-align: center;
    .main-page__title {
        font-size: 7rem;
        padding-top: 2rem;
    }
    .main-page__text{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .main-page__btn{
        display: inline-block;
        margin: 2rem;
        border: 1px solid black;
        border-radius: 5%;
        padding: 0.5rem;
        width: 10rem;
        background-color: $bgcolor;
    }
}