.textbook-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 100%;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.6rem;
}
.textbook-menu-button {
  display: inline-flex;
}
.menu-button-wrapper {
  display: inline-flex;
  width: inherit;
  height: 100%;
}
.textbook-buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-content: center;
  height: 4rem;
}