.authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 3% auto;
  padding: 15px;
  border-radius: 5px;
  background: #9e9e9e;

  &__title {
    color: white;
    font-size: 2rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__input {
    width: 100%;
    background: none;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: white solid 1px;
    height: 2.5rem;
    padding: 1.8rem 1.4rem;
    color: white;
    font-size: 1.4rem;

    &::placeholder {
      color: white;
    }

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &__button {
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
    background: none;
    color: white;
    border: 1px double white;
    margin: 5px;
    box-shadow: 0 2px 0 white;
    font-family: Gilroy, Arial, sans-serif;
    font-weight: 900;
    border-radius: 10px;
  }

  .warning {
    border: red solid 1px;
  }

  .warning-message {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #763c3c;
    align-self: start;
  }
}
