
.header, .footer {
    background-color: $bgcolor;
    height: 5rem;
}
.header-wrapper,
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}
.header__logo {
display: flex;
align-items: center;
}
.header-svg{
// background-image: url('../../..//assets/svg/menuBurger.svg');
width: 2rem;
}