
.header, .footer {
    background-color: $bgcolor;
    height: 5rem;
}
.header-wrapper,
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}
.header__burger,
.header__logo,
.header__autorization
{
    margin: auto 0;
}
.header-svg{
// background-image: url('./assets/svg/menuBurger.svg');
width: 2rem;
border-radius: 50%;
// padding: 0.2rem;
&:hover {
    box-shadow: 0 0 0.3rem 1rem rgb(188, 188, 188);
}
}