html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  &:first-letter {
    text-transform: capitalize;
  }
}

.fill-gray {
  background-color: rgba(255, 255, 255, .2) !important;
}

.delete-border {
  border: none !important;
}
